<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Name</label>
    <div class="col-xs-10">
        <input class="form-control" name="name" type="text" value="<%= dsl.name %>">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Description</label>
    <div class="col-xs-10">
        <textarea class="form-control" rows="3" style="height: 100px" name="description" id="description"><%= dsl.description %></textarea>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-12">
        <button type="submit" style="float: right" class="btn btn-primary">Submit</button>
    </div>
</div>