<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Titillium+Web:400,300,700&amp;subset=latin,latin-ext"/>
    <link rel="stylesheet" href="/stylesheets/pnotify.custom.min.css"/>
    <link rel="stylesheet" href="/vendor/bootstrap.ui/dist/css/bootstrap-ui.min.css"/>
    <link rel="stylesheet" href="/stylesheets/ionicons.min.css"/>
    <link rel="stylesheet" href="/vendor/jointjs/dist/joint.min.css"/>
    <link rel="stylesheet" href="/vendor/jointjs/dist/joint.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>

    <script data-main="/javascripts/admin/init" src="/vendor/requirejs/require.js"></script>
</head>

<body class="site has-navbar-fixed-top">

<script>
    var currentDsl = '<%= dsl.id %>';
</script>

<%- include ../partials/_header.ejs %>

<main id="main" role="main" class="site-content">
    <div id="center" class="ui-layout-center"></div>

    <div id="east" class="ui-layout-east">
        <div id="east-content" class="ui-layout-center"></div>
        <div id="preview" class="ui-layout-south"></div>
    </div>

    <div id="west" class="ui-layout-west"></div>
</main>

</body>

</html>
