<div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
        <button class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Undo" id="undo"
                onclick="return false;">
            <span class="ionicons ion-ios-undo" aria-hidden="true"></span>
        </button>
    </div>
    <div class="btn-group" role="group">
        <button class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Redo" id="redo"
                onclick="return false;">
            <span class="ionicons ion-ios-redo"></span>
        </button>
    </div>
    <div class="btn-group" role="group">
        <button class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Accept" id="accept"
                onclick="return false;">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>
    </div>
    <div class="btn-group" role="group">
        <button class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Reject" id="reject"
                onclick="return false;">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    </div>
</div>
