<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Titillium+Web:400,300,700&amp;subset=latin,latin-ext"/>
    <link rel="stylesheet" href="/vendor/bootstrap.ui/dist/css/bootstrap-ui.min.css"/>
    <link rel="stylesheet" href="/stylesheets/ionicons.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>

    <script data-main="/javascripts/admin" src="/vendor/requirejs/require.js"></script>
</head>

<body class="site has-navbar-fixed-top">

<%- include partials/_header.ejs %>

<main id="main" role="main" class="site-content">
   Access Denied
</main>

</body>

</html>
