<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Titillium+Web:400,300,700&amp;subset=latin,latin-ext"/>
    <link rel="stylesheet" href="vendor/bootstrap.ui/dist/css/bootstrap-ui.min.css"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <link rel="stylesheet" href="vendor/jointjs/dist/joint.min.css"/>

    <script data-main="javascripts/main" src="/vendor/requirejs/require.js"></script>
</head>

<body class="site has-navbar-fixed-top">

<header role="banner" id="top" class="site-header">
    <!-- Main navigation -->
    <nav class="navbar-fixed navbar-primary navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and menu toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kssMenu">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAA81BMVEX///9VPnxWPXxWPXxWPXxWPXxWPXxWPXz///9hSYT6+vuFc6BXPn37+vz8+/z9/f2LeqWMe6aOfqiTg6uXiK5bQ4BZQX9iS4VdRYFdRYJfSINuWI5vWY9xXJF0YJR3Y5Z4ZZd5ZZd6Z5h9apq0qcW1qsW1q8a6sMqpnLyrn76tocCvpMGwpMJoUoprVYxeRoJjS4abjLGilLemmbrDutDFvdLPx9nX0eDa1OLb1uPd1+Td2OXe2eXh3Ofj3+nk4Orl4evp5u7u7PLv7fPx7/T08vb08/f19Pf29Pj39vn6+fuEcZ9YP35aQn/8/P1ZQH5fR4PINAOdAAAAB3RSTlMAIWWOw/P002ipnAAAAPhJREFUeF6NldWOhEAUBRvtRsfdfd3d3e3/v2ZPmGSWZNPDqScqqaSBSy4CGJbtSi2ubRkiwXRkBo6ZdJIApeEwoWMIS1JYwuZCW7hc6ApJkgrr+T/eW1V9uKXS5I5GXAjW2VAV9KFfSfgJpk+w4yXhwoqwl5AIGwp4RPgdK3XNHD2ETYiwe6nUa18f5jYSxle4vulw7/EtoCdzvqkPv3bn7M0eYbc7xFPXzqCrRCgH0Hsm/IjgTSb04W0i7EGjz+xw+wR6oZ1MnJ9TWrtToEx+4QfcZJ5X6tnhw+nhvqebdVhZUJX/oFcKvaTotUcvUnY188ue/n38AunzPPE8yg7bAAAAAElFTkSuQmCC">
                </a>

            </div>

            <!-- Collapsible menu -->
            <div class="collapse navbar-collapse" id="kssMenu">
                <ul class="nav navbar-nav">
                    <!--<li><a href="#">Dashboard</a></li>-->
                    <!--<li><a href="#">Pages</a></li>-->
                    <!--<li><a href="#">Media</a></li>-->
                    <!--<li><a href="#">Users</a></li>-->
                    <li class="navbar-icon">
                        <a href="#" title="Undo" id="undo" onclick="return false;">
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li class="navbar-icon">
                        <a href="#" title="Redo" id="redo" onclick="return false;">
                            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-icon">
                        <a href="#" title="Open site in a new tab">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            <span class="visible-xs" >Home</span>
                        </a>
                    </li>
                    <li class="navbar-icon">
                        <a href="#" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            <span class="visible-xs">Settings</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="My profile">
                            <span class="glyphicon glyphicon-user offset-right" aria-hidden="true"></span>
                            <span class="visible-xs-inline offset-right">My Profile</span>
                            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Andre Castro</li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <span class="glyphicon glyphicon-user offset-right icon-shift-down" aria-hidden="true"></span>
                                    My Account
                                </a>
                            </li>
                            <li>
                                <a href="#" onClick="$('#logout').submit()" >
                                    <span class="glyphicon glyphicon-off offset-right icon-shift-down" aria-hidden="true"></span>
                                    Sign out
                                </a>
                                <form method="post" id="logout" action="/logout"></form>
                            </li>
                        </ul>
                    </li><!-- .dropdown -->
                </ul><!-- .nav -->
            </div><!-- .collapsible -->
        </div><!-- .container -->
    </nav>
</header>


<main id="main" role="main" class="site-content">
    <div id="center" class="ui-layout-center"></div>

    <div id="south" class="ui-layout-south"></div>

    <div id="east" class="ui-layout-east">
        <div id="east-content" class="ui-layout-center"></div>
        <div id="preview" class="ui-layout-south"></div>
    </div>

    <div id="west" class="ui-layout-west"></div>
</main>

</body>

</html>
