<div class="attributes-group form-horizontal">
    <div class="form-group">
        <label class="col-sm-6" for="width">Width:</label>

        <div class="col-sm-6">
            <input  class="form-control" type="number" name="width" id="width">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-6" for="height">Height:</label>

        <div class="col-sm-6">
            <input  class="form-control" type="number" name="height" id="height">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-6" for="x">X:</label>

        <div class="col-sm-6">
            <input class="form-control" type="number" name="x" id="x">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-6" for="y">Y:</label>

        <div class="col-sm-6">
            <input class="form-control" type="number" name="y"  id="y">
        </div>
    </div>
</div>