<div class="attributes-group form-horizontal">
    <div class="form-group">
        <label class="col-sm-6" for="color">Color</label>

        <div class="col-sm-6">
            <input  class="form-control" name="color" id="color">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-6" for="stroke-color">Stroke Color</label>

        <div class="col-sm-6">
            <input  class="form-control" name="stroke-color" id="stroke-color">
        </div>
    </div>
</div>