<div class="attributes-group form-horizontal">
    <div class="form-group">
        <label class="col-sm-6" for="title">Title:</label>

        <div class="col-sm-6">
            <input  class="form-control" name="title" id="title">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-6" for="font-size">Size:</label>

        <div class="col-sm-6">
            <input class="form-control" type="number" name="font-size" id="font-size">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-6" for="font-color">Color:</label>

        <div class="col-sm-6">
            <input class="form-control" name="font-color" id="font-color">
        </div>
    </div>
</div>