<div class="attributes-group form-horizontal solicitation-form">

    <div class="solicitation-title-group form-group">
        <label class="col-sm-3" for="solicitation-title">Title:</label>

        <div class="col-sm-9">
            <input class="form-control" name="solicitation-title" id="solicitation-title">

            <div class="solicitation-title-error-message help-block with-errors" style="display: none;">
                <ul class="list-unstyled">
                    <li>Please fill out this field.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="solicitation-description-group form-group">
        <label class="col-sm-3" for="solicitation-description">Description:</label>

        <div class="col-sm-9">
            <textarea class="form-control" rows="3" style="height: 100px"
                      name="solicitation-description" id="solicitation-description"></textarea>

            <div class="solicitation-description-error-message help-block with-errors" style="display: none;">
                <ul class="list-unstyled">
                    <li>Please fill out this field.</li>
                </ul>
            </div>
        </div>
    </div>
</div>