<div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
        <a href="#" class="btn btn-secondary" title="Home" id="home" >
            <span class="ionicons ion-ios-home" aria-hidden="true"></span>
        </a>
    </div>
    <div class="btn-group" role="group">
        <button class="btn btn-secondary" title="Undo" id="undo" onclick="return false;">
            <span class="ionicons ion-ios-undo" aria-hidden="true"></span>
        </button>
    </div>
    <div class="btn-group" role="group">
        <button class="btn btn-secondary" title="Redo" id="redo" onclick="return false;">
            <span class="ionicons ion-ios-redo"></span>
        </button>
    </div>
    <div class="btn-group" role="group">
        <button class="btn btn-secondary" title="Save" id="save" onclick="return false;">
            <span class="ionicons ion-archive" aria-hidden="true"></span>
        </button>
    </div>
</div>
