<div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
        <button class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Undo" id="undo"
                onclick="return false;">
            <span class="ionicons ion-ios-undo" aria-hidden="true"></span>
        </button>
    </div>
    <div class="btn-group" role="group">
        <button class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Redo" id="redo"
                onclick="return false;">
            <span class="ionicons ion-ios-redo"></span>
        </button>
    </div>
    <div class="btn-group" role="group">
        <button class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Save" id="save"
                onclick="return false;">
            <span class="ionicons ion-archive" aria-hidden="true"></span>
        </button>
    </div>
    <div class="btn-group" role="group">
        <button class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Export" id="export"
                onclick="return false;">
            <span class="ion-ios-cloud-download" aria-hidden="true"></span>
        </button>
    </div>
</div>
