<div class="attributes-group form-horizontal">
    <div class="form-group">
        <label class="col-sm-3" for="component-id">id:</label>

        <div class="col-sm-9">
            <input  class="form-control" name="component-id" id="component-id">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3" for="component-friendly-name">Name:</label>

        <div class="col-sm-9">
            <input  class="form-control" name="component-friendly-name" id="component-friendly-name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3" for="component-image">Image:</label>

        <div class="col-sm-9">
            <input  class="form-control" name="component-image" id="component-image">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3" for="component-description">Description:</label>

        <div class="col-sm-9">
            <textarea class="form-control" rows="3" style="height: 100px"  name="component-description" id="component-description"></textarea>
        </div>
    </div>
</div>