<div class="attributes-group form-horizontal">
    <div class="form-group">
        <label class="col-sm-3" for="<%= attr %>-fill-color">Color:</label>

        <div class="col-sm-9">
            <input  class="form-control" type="color" name="<%= attr %>-fill-color" id="<%= attr %>-fill-color">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3"  for="<%= attr %>-stroke-color">Stroke:</label>

        <div class="col-sm-9">
            <input class="form-control" type="color" name="<%= attr %>-stroke-color" id="<%= attr %>-stroke-color">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3" for="<%= attr %>-d">Format:</label>

        <div class="col-sm-9">
            <input  class="form-control" name="<%= attr %>-d" id="<%= attr %>-d">
        </div>
    </div>
</div>