<div class="attributes-group form-horizontal">
    <div class="form-group">
        <label class="col-sm-3" for="title">Title:</label>

        <div class="col-sm-9">
            <input  class="form-control" name="title" id="title">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3" for="font-size">Size:</label>

        <div class="col-sm-9">
            <input class="form-control" type="number" name="font-size" id="font-size">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3" for="font-color">Color:</label>

        <div class="col-sm-9">
            <input class="form-control" type="color" name="font-color" id="font-color">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3" for="description">Description:</label>

        <div class="col-sm-9">
            <textarea class="form-control" rows="3" style="height: 100px"  name="description" id="description"></textarea>
        </div>
    </div>
</div>