<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Titillium+Web:400,300,700&amp;subset=latin,latin-ext"/>
    <link rel="stylesheet" href="/stylesheets/pnotify.custom.min.css"/>
    <link rel="stylesheet" href="/vendor/bootstrap.ui/dist/css/bootstrap-ui.min.css"/>
    <link rel="stylesheet" href="/stylesheets/ionicons.min.css"/>
    <link rel="stylesheet" href="/vendor/jointjs/dist/joint.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>

    <script data-main="/javascripts/app/init" src="/vendor/requirejs/require.js"></script>
</head>

<body class="site has-navbar-fixed-top">

<script>
    var currentProject = '<%= project.id %>';
</script>

<%- include ../partials/_header.ejs %>

<main id="main" role="main" class="site-content">
    <div id="center" class="ui-layout-center">
        <div id="center-title"></div>
        <div class="alert-dsl alert-block alert-danger fade in">
            This project is using a metamodel different from the dsl metamodel.
            <a class="btn btn-mini btn-danger">Create solicitation</a>
            <a class="btn btn-mini btn-danger">Rollback</a>
        </div>
        <div id="center-content"></div>
    </div>

    <div id="east" class="ui-layout-east">
        <div id="east-content" class="ui-layout-center"></div>
        <div id="preview" class="ui-layout-south"></div>
    </div>

    <div id="west" class="ui-layout-west">
        <div id="west-title">
            Project - <%= title %>
        </div>

        <div id="west-content">

        </div>
    </div>
</main>

</body>

</html>
