<div class="panel-group accordion-caret" role="tablist" aria-multiselectable="false">
    <div class="panel panel-default">

        <div class="panel-heading" role="tab" id="nodes">
            <a class="accordion-toggle" role="button" data-toggle="collapse" href="#nodes-content"
               aria-expanded="true" aria-controls="collapseOne">
                <h4 class="panel-title">
                    NODES
                </h4>
            </a>
        </div>

        <div id="nodes-content" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="list-group list-group-nested"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="links">
            <a class="accordion-toggle" role="button" data-toggle="collapse"
               href="#links-content" aria-expanded="true" aria-controls="collapseTwo">
                <h4 class="panel-title">
                    LINKS
                </h4>
            </a>
        </div>

        <div id="links-content" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <div class="panel-body">
                    <div class="list-group list-group-nested"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="links-relationship">
                <a class="accordion-toggle" role="button" data-toggle="collapse"
                   href="#links-relationship-content" aria-expanded="true" aria-controls="collapseThree">
                    <h4 class="panel-title">
                        LINKS RELATIONSHIP
                    </h4>
                </a>
            </div>

            <div id="links-relationship-content" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="panel-body">
                        <div class="list-group list-group-nested"></div>
                    </div>
                </div>
            </div>
        </div>
</div>